<div id='contenedor_padre'>
  <h3>Componente Padre</h3>
  <select (change)="optionChanged($event.target.value)">
    <option value="option_1">Opción 1</option>
    <option value="option_2">Opción 2</option>
    <option value="option_3">Opción 3</option>
  </select>
  <button (click)="arrayChanged()">Actualizar array</button>
  <app-hijo #datosDesdeElPadre></app-hijo>
</div>
